@use "./base.scss";

// put your custom CSS here!

// Fontin font imports
@font-face {
  font-family: "Fontin";
  src: url("static/fonts/Fontin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fontin";
  src: url("static/fonts/Fontin-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Fontin";
  src: url("static/fonts/Fontin-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Fontin SmallCaps";
  src: url("static/fonts/Fontin-SmallCaps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

article {
  p, li {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}